// Montserrat
@font-face {
  font-family: Montserrat;
  font-weight: 300;
  src: url("../fonts/Montserrat/Montserrat-Light.ttf");
}

@font-face {
  font-family: Montserrat;
  font-weight: 400;
  src: url("../fonts/Montserrat/Montserrat-Regular.ttf");
}

@font-face {
  font-family: Montserrat;
  font-weight: 500;
  src: url("../fonts/Montserrat/Montserrat-Medium.ttf");
}

@font-face {
  font-family: Montserrat;
  font-weight: 600;
  src: url("../fonts/Montserrat/Montserrat-SemiBold.ttf");
}

@font-face {
  font-family: Montserrat;
  font-weight: 700;
  src: url("../fonts/Montserrat/Montserrat-Bold.ttf");
}

// Lighthaus

@font-face {
  font-family: Lighthaus;
  font-weight: 600;
  src: url("../fonts/Montserrat/Lighthaus.otf");
  }

// Floriselscript

@font-face {
  font-family: Floriselscript;
  font-weight: 600;
  src: url("../fonts/Montserrat/Floriselscript.ttf");
  }

// UniversityRoman

@font-face {
  font-family: UniversityRoman;
  font-weight: 400;
  src: url("../fonts/Montserrat/UniversityRoman.ttf");
  }

// Kudry

@font-face {
  font-family: Kudry;
  font-weight: 400;
  src: url("../fonts/Montserrat/Kudry.otf");
  }
